---
import Card from "../components/Card.astro";
import PageLayout from "../layouts/PageLayout.astro";
import "../styles/virksomhed.css";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import { quotelessJson } from "astro:schema";


// const quoteEndpoint = "https://dummyjson.com/quotes";

// const quoteRequest = await fetch(quoteEndpoint);
// const quoteData = await quoteRequest.json(); 

// const postEndpoint = "https://dummyjson.com/posts";

// const postRequest = await fetch(postEndpoint);

// const postData = await postRequest.json();


// const dogEndPoint = "https://dog.ceo/api/breeds/springer/images"

// const dogRequest = await fetch(dogEndPoint);
// const dogData = await dogRequest.json();

//  console.log("postData", postData);


 const url = "https://gcufhrwragpcwfgtbzwq.supabase.co/rest/v1/people";
 const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjdWZocndyYWdwY3dmZ3RiendxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5Njg2MDIsImV4cCI6MjA3ODU0NDYwMn0.zUnYL_1b6t_zRH8yCIuox8mxHoEjtS1rY1893MG1B1g";

const options = {
headers: {
   apikey: key, 
},
}

const cardRequest = await fetch(url, options);
const cardData = await cardRequest.json();

console.log("cardData", cardData);
---

<PageLayout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>For virksomheder</title>
    </head>
    <body>
      <section class="baggrundsfarve_1">
        <div class="grid_1_1">
          <div class="afsnit_1">
            <h2 class="bedre_pauser">Bedre pauser for dine bedarbejdere</h2>
            <h3 class="styrk_trivslen">Styrk trivslen i din organisation med SoundWheel Work.</h3>
            <p class="mentale_pauser">I en travl hverdag er små mentale pauser afgørende for medarbejdernes trivsel og produktivitet. SoundWheels unikke lydrejser reducerer stress, skærper fokus og giver nyt overskud.</p>
            <Button label="Køb adgang" />
          </div>
          <div>
            <img src="/img/billede2.webp" alt="billede af mand på gras" />
          </div>
        </div>
      </section>

      <section class="baggrundsfarve_2">
        <div class="grid2_1_1">
          <div class="afsnit_2">
            <h3 class="hundred_med">Kun 9.999kr / år Op til 100 medarbejdere</h3>
            <p class="fuld_adgang">Fuld adgang til SoundWheel Work</p>
            <ul class="punkter">
              <li>Musikdrevne visualiseringsøvelser</li>
              <li>Dansk eller engelsk guide</li>
              <li>Mulighed for at slå guide til og fra</li>
              <li>6 teamer Heriblandt Fokus, Time out og Power Boost</li>
              <li>Mere musik, minde tale</li>
              <li>Opret nemt dine medarbejdere</li>
              <li>Intropakke med promomateriale</li>
              <li>Tutorialvideoer med nem on-boarding</li>
            </ul>
            <Button label="Køb adgang" />
          </div>
          <div class="img_telefoner relative">
            <img class="absolute" src="/img/soundwheelwork.webp" alt="Soundwheel work icon" />
            <img src="/img/soundwheelworktelefon.webp" alt="Soundwheel Work telefoner" />
          </div>
        </div>
      </section>

      <section class="section_margin">
        <div class="grid_1_1_1">
          <div class="cirkel_1">
            <img class="img_1" src="/img/ikon1.webp" alt="telefon ikon 1" />
            <p class="cirkel_p">Adgang til vores komplette bibliotek af lydrejser, som kan bruges individuelt eller i grupper</p>
          </div>
          <div class="cirkel_2">
            <img class="img_2" src="/img/ikon2.webp" alt="computer ikon 2" />
            <p class="cirkel_p">Brugervenligt adminpanel. Tilføj alle medarbejdere ved tryk på én knap</p>
          </div>
          <div class="cirkel_3">
            <img class="img_3" src="/img/ikon3.webp" alt="computer ikon 1" />
            <p class="cirkel_p">Statistikker, der giver indsigt i, hvordan soundwheel skaber værdi i organisation</p>
          </div>
        </div>
      </section>

      <section>
        <div class="grid_2_1fr">
        {cardData.map((card) => {
          return (
          <Card 
          img={card.imgs} 
          text1={card.Overskrift}
          text2={card.produktinfo}
          id={card.id}
          />
          )
        })}

          <!-- <Card 
          img="/img/billede2.webp" 
          text1="Lorem ipsum dolor sit amet, consectetur adipisicing elit." 
          text2="Lorem ipsum dolor sit amet, consectetur adipisicing elit." 
          tag="Læs mere" 
          /> --->

  
        </div>
      </section>

      <section class="svg">
        <div class="svg_p">
          <img class="cirkellogo" src="/img/cirkellogo.webp" alt="cirkel logo" />
          <p>#Soundwheel</p>
        </div>
      </section>
      <Footer />
    </body>
  </html>
</PageLayout>
